<section class="video-player-section">
  <div class="container">
    <a href="{{#if query}}/?q={{query}}{{else}}/{{/if}}" class="back-button">
      <i class="fas fa-arrow-left"></i> Back to {{#if query}}Search{{else}}Home{{/if}}
    </a>
    
    <div class="video-player-container">
      <div class="video-wrapper">
        <iframe 
          src="https://www.youtube.com/embed/{{videoId}}?autoplay=1&rel=0" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen
          title="YouTube video player"
        ></iframe>
      </div>
      
      <div class="video-details">
        <h1 class="video-title">{{video.title}}</h1>
        <div class="video-meta">
          <span class="views">{{formatNumber video.viewCount}} views</span>
          <span class="date">• Published on {{formatDate video.publishedAt}}</span>
        </div>
        <div class="channel-info">
          <img src="{{video.channelThumbnail}}" alt="{{video.channelTitle}}" class="channel-avatar">
          <div>
            <h2 class="channel-name">{{video.channelTitle}}</h2>
            <p class="subscribers">{{video.channelSubscribers}} subscribers</p>
          </div>
          <button class="subscribe-button">Subscribe</button>
        </div>
        <div class="video-description">
          <p>{{video.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section>